.container{
    margin: 10% auto;
    text-align: center;
    height: fit-content;
    width: max-content;
    background-color: #F4F8FB;
    box-sizing: border-box;
    padding: 10px 20px;
    outline: 10px ridge #D1D5DB;
}
h2{
    color: indigo;
    font-family: sans-serif;
 
}
input{
    height: 30px;
    border: 2px solid #1657b2;
    font-size: large;
    display: block;
    margin: 20px auto;
    box-shadow: 0.25rem 0.25rem 0.25rem rgb(0, 28, 128);
}
input:hover{
    background-color: rgb(140, 153, 184);
    color: white;
}
button{
    padding: 0.5em;
    background-color: rgb(124, 196, 196);
    box-shadow: 0.35rem 0.35rem 5px grey;
    border:2px solid rgb(152, 146, 110);
    border-radius: 10%;

}
button:hover{
    background-color: green;
    color: white;
    box-shadow: none;
}
#errormsg{
    color:red;
}
#result{
    background-color: bisque;
    text-align: center;

}
img{
    height:100px;
    width:100px;
}

@media screen and (max-width: 425px) {
    .container {
        box-sizing: border-box;
        font-size: small;
        padding: auto 10%;
        width: 70%;
    }

    input {
        width: 70%;
        font-size: x-small;
    }
}